/.idea/.idea.TranslatePage/.idea/.gitignore
/.idea/.idea.TranslatePage/.idea/encodings.xml
/.idea/.idea.TranslatePage/.idea/indexLayout.xml
/TranslatePage.sln.DotSettings.user
/.idea/.idea.TranslatePage/.idea/vcs.xml
